@import "_footer.sass"
@import "_header.sass"
@import "_hero-section.sass"
@import "_main.sass"
@import "_partners.sass"
@import "_reg.sass"
@import "_sign.sass"

*
    margin: 0
    padding: 0

html
    background-color: #202225

body
    display: block

.hidden 
    display: none !important




